# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
*.egg-info/
.eggs/
*.whl

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log
